<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- TODO: Change to DayLog name every page visit -->
        <title>Day Log App</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    </head>

    <body>

        <div class="container col-sm-6">
            <div class="card">
                <h3 class="card-header">
                    <%= (typeof operation !== 'undefined') ?  operation : ''%> Day Log
                </h3>