<% include includes/header %>

<table class="table table-">
    <thead>
        <tr>
            <th>Title</th>
            <th>Created</th>
            <th>Updated</th>
            <th>Tasks</th>
            <th></th>
            <th></th>
        </tr>
    </thead>

    <tbody>
    <% daylogs.forEach((daylog) => { %>
        <tr>
            <td>
                <a href="/<%= daylog.slug %>">
                    <strong><%= daylog.title %></strong></td>
                </a>
            <td>
                <code><%= daylog._id.getTimestamp().toISOString().substring(0, 10) %></a>
                </code>
            </td>
            <td>
                <code><%= daylog.updatedAt.toISOString().substring(0, 10) %></code>
            </td>
            <!-- TODO: Get number of Tasks per DayLog -->
            <td><code>0</code></td>
            <td>
                <a href="/<%= daylog.slug %>/edit" class="btn btn-primary btn-sm">Edit</a>
            </td>
            <td>
                <form action="/<%= daylog.slug %>/delete" method="POST">
                    <input type='hidden' value='DELETE' name='_method'>
                    <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                </form>
            </td>
        </tr>
    <% }); %>
    </tbody>
</table>

<div class="card-footer text-center">
    <a href="/create" class=" btn btn-primary">Create Day Log</a>
</div>

<% include includes/footer %>
