<% include ../includes/header %>

<div class="card-block">

    <form action="<%= action %>" method="<%= method %>" enctype="application/x-www-form-urlencoded">

        <% if(operation === constants.FORM_OPERATIONS.edit) { %>
            <input type="hidden" value="PUT" name="_method">
        <% } %>

        <div class="container">
            <div class="form-group row">
                <label for="title" class="col-sm-2 col-form-label text-right">Title</label>
                <div class="col-sm-10">
                    <textarea class="form-control" id="title" name="title"
                        placeholder="Describe your log" required
                        <%= (operation === constants.FORM_OPERATIONS.view) ? 'readonly' : '' %>><%=
                            (operation === constants.FORM_OPERATIONS.edit || operation === constants.FORM_OPERATIONS.view) ?
                                daylog.title : '' %></textarea>
                </div>
            </div>

            <div class="form-group row">
                <label for="slug" class="col-sm-2 col-form-label text-right">Slug</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="slug" name="slug"
                        placeholder="example-daylog-slug" required
                        <%= (operation === constants.FORM_OPERATIONS.edit || operation === constants.FORM_OPERATIONS.view) ? 'readonly' : '' %>
                        value="<%= (operation === constants.FORM_OPERATIONS.edit || operation === constants.FORM_OPERATIONS.view) ?
                            daylog.slug : '' %>">
                </div>
            </div>

            <div class="form-group row">
                <label for="location" class="col-sm-2 col-form-label text-right">Location</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="location" name="location"
                        placeholder="Location of log" required
                        value="<%= (operation === constants.FORM_OPERATIONS.edit || operation === constants.FORM_OPERATIONS.view) ?
                            daylog.location : '' %>"
                        <%= (operation === constants.FORM_OPERATIONS.view) ? 'readonly' : '' %>>
                </div>
            </div>

            <div class="form-group row">
                <label for="logAt" class="col-sm-2 col-form-label text-right">Date of log</label>
                <div class="col-sm-10">
                    <input type="date" class="form-control" id="logAt" name="logAt"
                        placeholder="Date of log" required
                        value="<%= (operation === constants.FORM_OPERATIONS.edit || operation === constants.FORM_OPERATIONS.view) ?
                            daylog.logAt.toISOString().substring(0, 10) : '' %>"
                        <%= (operation === constants.FORM_OPERATIONS.view) ? 'readonly' : '' %>>
                </div>
            </div>

            <div class="form-group row">
                <label for="category" class="col-sm-2 col-form-label text-right">Category</label>
                <div class="col-sm-10">
                    <select class="form-control" id="category" name="category" required
                        <%= (operation === constants.FORM_OPERATIONS.view) ? 'disabled' : '' %>>
                        <option selected>Choose a category</option>
                        <option value="Adequate"
                            <%= (operation === constants.FORM_OPERATIONS.edit || operation === constants.FORM_OPERATIONS.view) ?
                                    (daylog.category === 'Adequate' ? 'selected' : '') : '' %>>
                            Adequate
                        </option>
                        <option value="Minor"
                            <%= (operation === constants.FORM_OPERATIONS.edit || operation === constants.FORM_OPERATIONS.view) ?
                                    (daylog.category === 'Minor' ? 'selected' : '') : '' %>>
                            Minor
                        </option>
                        <option value="Major"
                            <%= (operation === constants.FORM_OPERATIONS.edit || operation === constants.FORM_OPERATIONS.view) ?
                                    (daylog.category === 'Major' ? 'selected' : '') : '' %>>
                            Major
                        </option>
                    </select>
                </div>
            </div>

            <% if(operation !== constants.FORM_OPERATIONS.view) { %>
            <div class="form-group row">
                <div class="offset-sm-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <button type="reset" class="btn btn-danger">Reset</button>
                </div>
            </div>
            <% } %>

        </div>
    </form>

</div>

<div class="card-footer text-center">
    <a href="/" class=" btn btn-primary btn-sm">Back</a>
</div>


<% include ../includes/footer %>